
.DS_Store
.gradle/
bin/.gitignore
bin/.settings/
bin/Dockerfile
bin/README.md
bin/build.gradle
bin/build/
bin/gradle/
bin/gradlew
bin/gradlew.bat
bin/settings.gradle
build/distributions/backend.tar
build/resources/
build/scripts/
build/tmp/
out/production/resources/
